**/.env
.DS_Store
/Advanced-Prompting/advanced-prompting-ANSWERS.ipynb

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore config files
config.json

# Ignore log files
*.log
logs/

# Ignore tar files
*.tar
